<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <%- include('../includes/bootstrap.ejs') %>
    <%- include('../includes/font-awesome.ejs') %>

    <%- include('./modals/settings-modal.ejs') %>
    <%- include('./modals/notifications-modal.ejs') %>

    <link rel="stylesheet" href="/css/secure/home.css" />

    <link rel="stylesheet" href="/css/loading-spinner.css" />

    <script src="/js/helpers/DOM-methods.js" defer></script>
    <script src="/js/helpers/http.js" defer></script>
    
    <script src="/js/secure/home.js" defer></script>
    
    <script src="/js/secure/modals/settings.js" defer></script>
    <script src="/js/secure/modals/notifications.js" defer></script>

</head>
<body>
    <div class="alert alert-success" id="admin-alert" role="alert">
        You are currently logged in as an admin! To remove your admin status, visit the Admin tab on the sidebar; you can always become an admin again if you know the secret token. 
    </div>
    <main id="chat-wrapper">
        <ul id="navbar">
            <li class="nav-link-wrapper">
                <button type="btn" class="btn btn-outline-info" onclick="clearChat()">
                    <img src="https://img.icons8.com/nolan/64/erase.png"  width="45" height="45"/>
                </button>
            </li>
            <li class="nav-link-wrapper">
                <button type="button" class="btn btn-info settings-modal-btn" data-toggle="modal" data-target="#settings-modal">
                    <img src="https://img.icons8.com/nolan/64/apple-settings.png"  width="45" height="45"/>
                </button>
            </li>
            <li class="nav-link-wrapper">
                <button type="button" class="btn btn-info notifications-modal-btn" data-toggle="modal" data-target="#notifications-modal">
                    <img src="https://img.icons8.com/nolan/64/appointment-reminders.png" width="45" height="45"/>
                </button>
            </li>
            <li class="nav-link-wrapper">
                <a href="/login">
                    <button type="btn" class="btn btn-info" >
                        <img src="https://img.icons8.com/nolan/64/logout-rounded-left.png"  width="45" height="45"/>
                    </button>
                </a>
            </li>
            <% if (isAdmin) { %>
                <li class="nav-link-wrapper" id="admin-wrapper">
                    <a href="/admin">
                        <button type="btn" class="btn btn-info" >
                            <img src="https://img.icons8.com/fluent/48/000000/microsoft-admin.png" width="45" height="45"/>
                        </button>
                    </a>
                </li>
            <% } %>
            <li class="nav-link-wrapper" id="chat-spinner-wrapper">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </li>
        </ul>
        <div id="chat-area">
            <ul id="messages-wrapper">
                <% for (let i = 0; i < messages.length; i++) { %>
                    <li class="message-wrapper">
                        <span class="email"><%= messages[i].email %></span>
                        <span class="date"><%= date(new Date(), new Date(messages[i].createdAt)) %></span>
                        <% if (isAdmin) { %>
                            <span><button type="btn" class="btn btn-danger delete-chat-btn">Delete</button></span>
                        <% } %>
                        <p class="message"><%= chatFilter(messages[i].message) %></p>
                    </li>
                <% } %>
                <li></li>
            </ul>
            <form onsubmit="storeChatMessage(); event.preventDefault()" id="message-form">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Message" name="message" required id="message" autocapitalize="true" spellcheck="true"/>
                <button type="submit" class="btn btn-success" id="send-chat-btn">Send</button>
            </form>
            <div class="alert alert-danger" id="server-error" role="alert">
                Something went wrong; your chat wasn't delivered! Please try again. 
            </div>
        </div>
    </main>
</body>
</html>