<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <%- include('../includes/bootstrap.ejs') %>
    <%- include('../includes/font-awesome.ejs') %>

    <%- include('./modals/settings-modal.ejs') %>
    <%- include('./modals//people-modal.ejs') %>

    <link rel="stylesheet" href="/css/secure/home.css" />

</head>
<body>
    <main id="chat-wrapper">
        <ul id="navbar">
            <li class="nav-link-wrapper">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#people-modal">
                    <img src="https://img.icons8.com/nolan/64/conference-call.png" width="45" height="45"/>
                </button>
            </li>
            <li class="nav-link-wrapper">
                <button type="btn" class="btn btn-outline-info" onclick="clearChat()">
                    <img src="https://img.icons8.com/nolan/64/erase.png"  width="45" height="45"/>
                </button>
            </li>
            <li class="nav-link-wrapper">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#settings-modal">
                    <img src="https://img.icons8.com/nolan/64/apple-settings.png"  width="45" height="45"/>
                </button>
            </li>
            <li class="nav-link-wrapper">
                <a href="/login">
                    <button type="btn" class="btn btn-info" >
                        <img src="https://img.icons8.com/nolan/64/logout-rounded-left.png"  width="45" height="45"/>
                    </button>
                </a>
            </li>
            <li class="nav-link-wrapper" id="chat-spinner-wrapper">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </li>
        </ul>
        <div id="chat-area">
            <ul id="messages-wrapper">
                <% for (let i = 0; i < messages.length; i++) { %>
                    <li class="message-wrapper">
                        <span class="email"><%= messages[i].email %></span>
                        <span class="date"><%= date(new Date(), new Date(messages[i].createdAt)) %></span>
                        <p class="message"><%= filterMessage(messages[i].message) %></p>
                    </li>
                <% } %>
                <li></li>
            </ul>
            <form onsubmit="storeChat(); event.preventDefault()" id="message-form">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Message" name="message" required id="message"/>
                <button type="submit" class="btn btn-success" id="send-chat-btn">Send</button>
            </form>
            <div class="alert alert-danger" id="server-error" role="alert">
                Something went wrong; your chat wasn't delivered! Please try again. 
            </div>
        </div>
    </main>
</body>
    <script defer>
        const storeChat = () => {
            const chat = document.getElementById('message');
            const serverError = document.getElementById('sever-error');
            const chatSpinnerWrapper = document.getElementById('chat-spinner-wrapper');

            chatSpinnerWrapper.style.visibility = 'visible'

            fetch('/home', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                  },
                body: JSON.stringify({ chat: chat.value.trim() }),
            }).then(() => {
                if (serverError) {
                    serverError.style.visibility = 'hidden';
                }

                scrollToLastChat();
                
                setTimeout(() => {
                    chatSpinnerWrapper.style.visibility = 'hidden';
                    chat.value = null;
                }, 500);
            }).catch((e) => {
                serverError.style.visibility = 'visible';

                setTimeout(() => {
                    chatSpinnerWrapper.style.visibility = 'hidden';
                }, 500);
            });
        }
    </script>
    <script defer>
        const clearChat = () => {
            const messagesWrapper = document.getElementById('messages-wrapper');
            messagesWrapper.innerHTML = null;

            alert('Chat was cleared! But do not worry; once you refresh the page, past chats will re-render.');
        }

        const scrollToLastChat = () => {
            const messages = document.querySelectorAll('.message-wrapper');
            messages[messages.length - 1].scrollIntoView({ behavior: 'smooth' });
        }

        scrollToLastChat();
    </script>
    <script defer>
        const colorTheme = window.sessionStorage.getItem('theme');
        
        const html = document.querySelector('html');
        const body = document.querySelector('body');

        if (colorTheme === 'midnight-check') {

        } else if (colorTheme === 'vibrant-sunset') {

        } else if (colorTheme === 'pearly-white') {

        } else {

        }
    </script>
</html>