<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="/css/attendance/attendance.css" />

    <%- include('../includes/bootstrap.ejs') %>

</head>
<body>
    <div id="attendance-btn-wrapper-left">
        <a href="/register">
            <div id="go-back-btn">
                <button type="button" class="btn btn-success">
                    <img src="https://img.icons8.com/ios/24/000000/circled-left.png" width="25" height="25"/>
                    Go back!
                </button>
            </div>
        </a>
    </div>
    <div id="form-wrapper">
        <form action="/attendance" method="POST" id="token-form">
            <div class="form-group" id="search-for-member-wrapper">
                <input type="text" class="form-control" id="member" placeholder="Member's School Email" name="member" required>
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        <% if (members) { %>
            <p id="member-result-count"><%= members.length %> results found for "<%= searchText %>"</p>
        <% } %>
        <div class="accordion member-attendances" id="accordionExample">
            <% if (members) { %>
                <% for (let i = 0; i < members.length; i++) { %>
                        <div class="card">
                            <div class="card-header" id="heading<%= i %>">
                                <button class="btn btn-link member-btn" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
                                    [<%= i + 1 %>] <%=  members[i].email %>
                                    <img src="https://img.icons8.com/ios/50/000000/circled-chevron-down.png" height="25" width="25"/>
                                </button>
                            </div>
                            <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#accordionExample">
                            <div class="card-body attendance-info-wrapper">
                                <h4>Fall 2021</h4>
                                <p>Meetings Attended: <%= members[i].fall2021MeetingsAttended %>/<%= fall2021Meetings %></p>
                                <p>Percentage Present: <%= members[i].fall2021MeetingsAttended > 0 ? Math.floor(((members[i].fall2021MeetingsAttended / fall2021Meetings) * 100)) : "0"%>%</p>
                            </div>
                            </div>
                        </div>
                <% } %>
            <% } else if (searchText) { %>
                <p id="member-result-count">No results found for "<%= searchText %>"</p>
            <% } %>
        </div>
    </form>
    </div>
</body>
</html>